# Global
*.log

# Vexriscv
vexriscv/project/
vexriscv/target/
**/vexriscv/cpu0.yaml
**/vexriscv/Murax.v

# ULX3S
**/ulx3s/*.bit
**/ulx3s/*.config
**/ulx3s/*.json
**/ulx3s/*.v

# C_Project
c_project/build



